.leftSide {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topBottom {
    display: flex;
    justify-content: space-between;
    margin: 2vh 2vw 2vh 2vw;
}

.logo {
    width: 80%;
}