.leftSide {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topBottom {
    display: flex;
    justify-content: space-between;
    margin: 2vh 2vw 2vh 2vw;
}

.logo {
    width: 40vw;
}

.carouselImage {
    padding: 0 4vw 0 4vw;
    width: 15vw;
}

aside {
    display: flex;
    justify-content: space-between;
}

.asideLeft {
}

.asideRight {
}