.rightSide {
    background-color: black;
    width: 50vw;
    height: 100vh;
}

.carouselImage {
    padding: 0 4vw 0 4vw;
    width: 15vw;
}

aside {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.asideLeft {
    transition: transform 20s;
}

aside .asideLeft {
    animation: top-to-bottom 20s infinite;
}

@keyframes top-to-bottom {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(0) translateY(100%);
    }
    50% {
        transform: translateX(100%) translateY(100%);
    }
    75% {
        transform: translateX(100%) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

.asideRight {
    transition: transform 20s;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    overflow: hidden;
}

aside .asideRight {
    animation: bottom-to-top 20s infinite;
    overflow: hidden;
}

@keyframes bottom-to-top {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(0) translateY(-100%);
    }
    50% {
        transform: translateX(-100%) translateY(-100%);
    }
    75% {
        transform: translateX(-100%) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}