/* General */
html, body 
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#App 
{
    font-family: 'Fira Sans', sans-serif;
    background-color: #76C7F0;
}

li 
{
    list-style-type: none;
}

li:hover 
{
    transform: translate(-4px, -4px);
    opacity: 0.8;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.457);
}

a 
{
    color: inherit;
    text-decoration: none;
}

/* Header Component */
#header 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 15%; 
    padding: 1rem 2rem;

}

.logo 
{
    width: 40vw;
}

#hamburger 
{
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.menu 
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 5px;
    background: white;
    border: 1px solid #ccc;
    width: 120px;
    z-index: 1000;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.menu.open 
{
    display: flex;
}


.menu li 
{
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.menu li:last-child 
{
    border-bottom: none;
}

/* Landing Page Component */
.landingPage 
{
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

.body 
{
    width: 100%;
}

.bodyBot 
{
    flex-direction: row;
    flex-wrap: nowrap;
}

.left 
{
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Dictionary Component*/
.dictContainer 
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 10%;
}

input 
{
    height: 30px;
    width: 50%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 2%;
}

.lists
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* Words and Sounds Components */
.searchContainer 
{
    text-align: center;
    width: 100%;
}

.container 
{
    text-align: center;
}

/* Words Component */
.cardContainer 
{
    overflow-y: auto;
    padding: 1rem;
    scrollbar-width: none;
}

#card 
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20%;
    box-shadow: 10px 5px 5px #00000081;
    padding: 40px;
    width: 70%;
    margin: 2rem auto;
}

#wordDetails
{
    display: flex;
    width: 100%;
}

#word 
{
    flex-direction: row;
    font-size: 48pt;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 13px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    overflow-wrap: break-word;
}

#details 
{
    flex-direction: column;
    font-size: 18pt;
    padding-left: 2rem;
    padding-top: 9px;
    text-align: left;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    width: 8rem;
}

#btm 
{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

#meanings > *
{
    margin: 0 0 0 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
}

#meaning
{
    margin-left: 5px;
    padding-left: 5px;
    font-size: 18pt;
}

#def 
{
    font-size-adjust: 20px;
    text-align: left;
}

#ex 
{
    font-family: 'Helvetica', sans-serif;
    border-left: 5px solid #55b1e7;
}

/* Sounds Component */
.soundsContainer 
{ 
    width: 70%;
}

/* ContactMe Component */
.popup-container 
{
    position: relative;
}

.popup-overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content 
{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

button.popup 
{
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.links 
{
    text-decoration: none;
    color: inherit; 
    cursor: pointer; 
}